@model ProvaGelaBahia.Models.Funcionario

@{
    ViewData["Title"] = "Atividade";
}

<h1>Definir Atividade</h1>

<h4>Funcionario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Atividade">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdFuncionario" />
            <div class="form-group">
                <label asp-for="Nome_Funcionario" class="control-label"></label>
                <input asp-for="Nome_Funcionario" class="form-control" />
                <span asp-validation-for="Nome_Funcionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf_Funcionario" class="control-label"></label>
                <input asp-for="Cpf_Funcionario" class="form-control" />
                <span asp-validation-for="Cpf_Funcionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salario" class="control-label"></label>
                <input asp-for="Salario" class="form-control" />
                <span asp-validation-for="Salario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="servicos_idservicos" class="control-label"></label>
                <input asp-for="servicos_idservicos" class="form-control" />
                <span asp-validation-for="servicos_idservicos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

